.rating{
    display: flex;
    flex-direction: column;
}

.star{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 1.6rem;
}

.star img{
    height: 5rem;
    width: 5rem;
}

.star label{
      font-size: 0.8rem;
}

.star input{
    height: 1rem;
    width: 1rem;
}
