.rating{
    display: flex;
    flex-direction: column;
}

.star{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 1.6rem;
}

.star img{
    height: 1rem;
}

.star label{
      font-size: 0.8rem;
}

.star input{
    height: 1rem;
    width: 1rem;
}

@media (max-width: 1205px) {
  .star label{
    font-size: 0.7rem;
  }
  .rating img{
    height: 0.7rem;
 
  }
  .star input{
    height: 0.8rem;
    width: 0.8rem;
}
}