/* .header{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    gap: 26rem;
} */

.header{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.header img{
    height: 2.5rem;
}


/* @media (max-width: 1286px){
    .header{
        gap: 10rem;
    }
} */