.home{
    height: 100vh;
    background-image: url('../assets/backgroundImg.webp');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
}

.search_wrapper{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
}

/* .search{
    width: 50%; 
} */

.logo{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


@media (max-width:1000px){
    .search{
        width: 70%;
    }
}

