
.SearchBar_wrapper{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.7rem;
    padding: 0 1rem;
    height: 2.9rem;
}

input{
    height: 2.8rem;
    border: none;
    border-radius: 0.7rem;
    padding-right: 20rem;
    text-decoration: none;
}

input::placeholder{
    font-size: 1.1rem;
    
}

textarea:focus, input:focus{
    outline: none;
}

.search_icon{
    height: 1.5rem;
    width: 1.5rem;
}