

.SearchBar_wrapper{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0.7rem;
    padding: 0 1rem;
    border: 1px solid #7f7f7f;
    justify-content: center;
    width: 500px;
    /* background-color: blue; */
}

.SearchBar_wrapper input{
    height: 2.8rem;
    border-radius: 0.7rem;
    border: none;
    text-decoration: none;
    margin: auto;
    width: 100%;
}

input::placeholder{
    font-size: 1.1rem;
}

textarea:focus, input:focus{
    outline: none;
}

.search_icon{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}


@media (max-width: 768px){
    .SearchBar_wrapper{
        width: 350px;
    }
}

@media (max-width: 500px){
    .SearchBar_wrapper{
        width: 280px;
    }
}